.finds-view-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.list-view {
    position: absolute;
    width: 60%;
    height: 100%;
}

.map-view {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0%;
}

.main-split-pane {
    --my-size: 251px;
    --side-width: var(--my-size);
    --side-min-width: var(--my-size);
    --side-max-width: var(--my-size);
}