.item-view-modal .back-fab {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px;
    z-index: 1;
    --background: rgba(255,255,255,0.75);
}

.item-view-modal .back-icon {
    color: black;
}

.item-view-modal .img-holder {
    width: 100%;
}

.item-view-modal img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.item-view-modal .title-holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.item-view-modal h3 {
    font-weight: bold;
    margin: 0px;
    font-size: 19px;
}

.item-view-modal h4 {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.item-view-modal ion-list {
    margin-left: 10px;
    margin-right: 10px;
}

.item-view-modal .list-item {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-view-modal .title-label1 {
    font-weight: bold;
    width: 30%;
}

.item-view-modal .label-content1 {
    width: 70%;
    word-wrap: break-word;
    color: #525050;
    font-weight: bold;
    font-size: 15px;
}

.item-view-modal .title-label2 {
    font-weight: bold;
    width: 35%;
}

.item-view-modal .label-content2 {
    width: 65%;
    word-wrap: break-word;
    color: #525050;
    font-weight: bold;
    font-size: 15px;
}

.item-view-modal .icons {
    font-weight: bold;
}

.item-view-modal .icons .stars {

}

.item-view-modal .icons .star {
    vertical-align: middle;
    color: #DD072E;
    font-size: 16px;
}

.item-view-modal .icons .hour-timer {
    vertical-align: middle;
    color: var(--ion-color-primary);
    font-size: 20px;
    margin-left: 2px;
}

.item-view-modal .icons .hours {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

.item-view-modal .donate-item {
    display: flex;
    justify-content: space-between;
}

.item-view-modal .donate-text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
}

.item-view-modal .donate-button {
    display: flex;
    flex-direction: row;
}

.item-view-modal .donate-fab {
    height: 40px;
    width: 40px;
    z-index: 1;
    margin-left: 2px;
    margin-right: 2px;
    --background: #DD072E;
}