.middle-fab {
    position: fixed;
    --border-radius: 20px;
    height: 40px;
    width: 120px;
    top: 85%;
    left: 50%;
    margin-left: -60px; /*Half width*/
}

.lower-fab {
    height: 50px;
    width: 50px; 
}

.fab-text{
    padding-left: 2px;
    padding-right: 2px;
}