.filter-menu .title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5%;
}

.filter-menu .thumbnail-size {
    height: 50px;
    width: 50px;
}

.filter-menu .title {
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Yeseva One';
}

.filter-menu ion-item {
    padding-top: 2%;
    padding-bottom: 2%;
}